* {
  font-family: 'Noto Serif KR';
  box-sizing: border-box;
}
/* header css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  position: relative;
}

.header-links {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row-reverse;

  margin-top: 40px;
  margin-right: 20px;

  gap: 15px;
}

.header-link {
  display: block;
}

.title {
  margin-bottom: 30px;
}

/* nav */
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-link {
  padding: 20px 50px;
  cursor: pointer;
  font-size: 20px;
  transition:
    font-size ease-in 300ms,
    font-weight ease-in 300ms;
}

.nav-link:hover {
  font-size: 23px;
  font-weight: bold;
}

/* footer.css */
.footer {
  display: flex;
  justify-content: center;
}
.footer-menu {
  width: 90%;
}
.ul {
  list-style: none;
  padding-left: 0;
}
.no-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: inherit;
}
