<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="product-manage.css" />
    <script type="module" src="product-manage.js"></script>
  </head>

  <body>
    <div class="container mt-5">
      <h2 class="mb-4">제품관리 페이지</h2>
      <button type="button" class="btn btn-danger">제품 삭제</button>
      <button type="button" class="btn btn-info">save</button>
      <button><a href="/productadd">상품 등록 버튼</a></button>
      <table class="table table-bordered table-custom">
        <thead>
          <tr>
            <th scope="col"><input type="checkbox" onclick="toggle(this)" /></th>
            <th scope="col">이미지사진</th>
            <th scope="col">제품명</th>
            <th scope="col">가격</th>
            <th scope="col">상세설명</th>
            <th scope="col">제조사</th>
          </tr>
        </thead>
        <tbody id="productTableBody">
          <!-- 제품 목록이 여기에 동적으로 추가됩니다 -->
        </tbody>
      </table>
    </div>
  </body>
</html>
