* {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
  align-content: center;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  text-align: center;
}

.header-logo {
  text-align: center;
  margin: 30px 0;
}

.table {
  text-align: center;
}
h1 {
  text-align: center;
}
.admin-page {
  border-bottom: #ddd 1px solid;
  padding-bottom: 10px;
}
.container {
  margin-top: 30px;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}
.vh-100 {
  height: 100vh;
}

.view-more {
  width: 100px;
}

.delete {
  width: 100px;
}
