/* Default CSS */
* {
  max-width: 600px;
  margin: 0px auto;
  box-sizing: border-box;
  align-content: center;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  text-align: center;
}

.admin-page {
  border-bottom: #ddd 1px solid;
  padding-bottom: 10px;
}

h1 {
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  position: relative;
}
/* Main CSS */
#main {
  display: flex;
  gap: 5px;
  padding-top: 50px;
}

#main div {
  width: 50%;
  height: 320px;
  border-radius: 10px;
}

#main div a {
  display: block;
  width: 100%;
  height: 100%;
}

#main div.one {
  background-color: #ab8cef;
}

#main div.two {
  background-color: #7a59c3;
}

#main div.three {
  background-color: #4c18bd;
}

#main div img {
  width: 80%;
  height: 50%;
}

#main div h2 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
}

#main div.one,
#main div.two,
#main div.three {
  transition: background-color 0.3s;
}

#main div.one:hover {
  background-color: #c4a9fc;
}
#main div.two:hover {
  background-color: #9c71f9;
}
#main div.three:hover {
  background-color: #5c1ff5;
}

div img {
  display: inline-block;
  transition: transform 0.3s ease;
}

div:hover img {
  transform: scale(1.1);
}
