* {
  font-family: 'Noto Serif KR';
  box-sizing: border-box;
}

:root {
  --color-bt: #31420ed0;
  --color-hover: #607338ad;
}

button {
  font-family: 'Noto Serif KR';
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
}
ul {
  list-style: none;
  padding-left: 5px;
}
li {
  float: left;
  margin-right: 10px;
}

.header-logo {
  font-size: 50px;
  margin: 40px 0 30px 0;
}

/* header css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  position: relative;
}

.header-links {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row-reverse;

  margin-top: 40px;
  margin-right: 20px;

  gap: 15px;
}

.header-link {
  display: block;
}

.column {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 20px;
}

.container {
  margin-top: 70px;
  max-width: 1500px;
}

.img-item {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
}
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-link {
  padding: 20px 50px;
  cursor: pointer;
  font-size: 20px;
  transition:
    font-size ease-in 300ms,
    font-weight ease-in 300ms;
}

.nav-link:hover {
  font-size: 23px;
  font-weight: bold;
}
.navbar-nav .dropdown-toggle::after {
  display: none;
}
.title {
  margin-bottom: 30px;
}

.logo-link {
  text-decoration: none;
  color: black;
}

.cart-header {
  border-bottom: #dbdbdb solid 1px;
  margin-bottom: 2rem;
  display: flex;
}

.cart-header .title {
  margin-bottom: 0;
  padding-top: 1rem;
}
.subtitle:not(.is-spaced) + .title {
  margin-top: -0.1rem;
}

.cart-header .subtitle {
  padding: 1.5rem 1rem 0 1rem;
  margin-bottom: 0;
  line-height: 2.5rem;
}

.order-complete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.3rem;
}

.order-complete {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
}

.order-complete .icon-text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  flex-grow: 1;
  justify-content: center;
}

.icon-text .icon {
  margin-bottom: 1rem;
}

.order-complete .button:first-child {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* footer.css */
.footer {
  display: flex;
  justify-content: center;
}
.footer-menu {
  width: 90%;
}
.ul {
  list-style: none;
  padding-left: 0;
}

.no-link {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
  color: inherit !important;
  text-align: left;
}

.yes-link {
  text-align: left;
}

.sns-li {
  float: none !important;
}

#shoppingButton {
  color: white;
  background-color: #31420ed0;
}
