* {
  font-family: 'Noto Serif KR';
  box-sizing: border-box;
}
button {
  font-family: 'Noto Serif KR';
}
.header-logo {
  font-size: 50px;
  margin: 40px 0 30px 0;
}
a {
  text-decoration: none;
  text-align: center;
  color: black;
}

/* header css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  position: relative;
}

.header-links {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row-reverse;

  margin-top: 40px;
  margin-right: 20px;

  gap: 15px;
}

.header-link {
  display: block;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.logo-link {
  text-decoration: none;
  color: black;
}
/* oc css */
.oc-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 200px;
  margin-top: 20px;
}
.oc_list-info {
  display: flex;
  flex-direction: column;

  width: 600px;
  height: 100%;
}
.oc_list-info h2 {
  margin: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.oc_list-info-container {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  justify-content: space-between; /* 자식 요소들 간에 공간을 균등하게 배분 */
  width: 100%;
  height: 390px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 15px;
}
.total {
  text-align: center;
  margin-top: auto;
}
.oc_list-info-container--down {
  width: 100%;
  height: 200px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.oc_list-info-container--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.order-info {
  margin: 15px;
}

.oc-btn {
  min-width: 150px;
  height: 50px;
  align-content: center;
  background-color: rgb(71, 16, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.oc-btn:hover {
  background-color: rgb(125, 80, 250);
  border-color: white;
}
.oc-btn--cancel {
  min-width: 100px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-link {
  padding: 20px 50px;
  cursor: pointer;
  font-size: 20px;
  transition:
    font-size ease-in 300ms,
    font-weight ease-in 300ms;
}

.nav-link:hover {
  font-size: 23px;
  font-weight: bold;
}

/* footer.css */
.footer {
  display: flex;
  justify-content: center;
}
.footer-menu {
  width: 90%;
}
.ul {
  list-style: none;
  padding-left: 0;
}
