* {
  font-family: 'Noto Serif KR';
  box-sizing: border-box;
}
button {
  font-family: 'Noto Serif KR';
}
a {
  text-decoration: none;
  text-align: center;
  color: black;
}
ul {
  list-style: none;
  padding-left: 5px;
}
li {
  float: left;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  position: relative;
}

.header-logo {
  font-size: 50px;
  margin: 40px 0 30px 0;
}

.header-links {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row-reverse;

  margin-top: 40px;
  margin-right: 20px;

  gap: 15px;
}

.header-link {
  display: block;
}

/* 자동슬라이드 */

.carouselExampleFade {
  height: 300px !important;
}

.carousel-item {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 10%;
  transition: 0.6s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(125, 125, 125, 0.194);
  transition: 0.3s; /* 투명한 회색 */
}
/*자동슬라이드 end */

.column {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 20px;
}

.container {
  margin-top: 70px;
  max-width: 1500px;
}

.img-item {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
}
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-link {
  padding: 20px 50px;
  cursor: pointer;
  font-size: 20px;
  transition:
    font-size ease-in 300ms,
    font-weight ease-in 300ms;
}

.nav-link:hover {
  font-size: 23px;
  font-weight: bold;
}
.title {
  margin-bottom: 30px;
}

.card {
  width: 450px;
  height: 700px;
}

.card-img-top {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

/* footer.css */
.footer {
  display: flex;
  justify-content: center;
}
.footer-menu {
  width: 90%;
}
.ul {
  list-style: none;
  padding-left: 0;
}
.no-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: inherit;
}
