<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <header class="header">
      <h1 class="header-logo">High Five</h1>
      <div class="header-links">
        <a href="../login/login.html">로그인</a>
        <a href="../register/register.html">회원가입</a>
        <a href="/" class="header-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="bi bi-bag" viewBox="0 0 16 16">
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
            />
          </svg>
        </a>
        <a href="../mypage/mypage.html" class="header-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
            />
          </svg>
        </a>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">메뉴</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">menu</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <div class="input-group">
              <button class="btn btn-sm" type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                  />
                </svg>
              </button>
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
            </div>
          </form>
        </div>
      </div>
    </nav>

    <!-- main 첨부 -->
    <section class="banner text-center">
      <img
        src="https://assets.airtrfx.com/media-em/ke/countries/Japan-JP.jpg"
        class="img-banner"
        alt="main-image"
        width="1500px"
      />
    </section>

    <section class="products d-flex justify-content-between">
      <div class="container text-left">
        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
          <div class="column">
            <article class="arti">
              <img
                src="https://web-resource.tamburins.com/catalog/product/1695801557/fb3f9859-b8d8-419f-893f-8091d795443c/Thumbnail_Perfume2_50ml_LateAutumn.jpg"
                class="img-item"
              />
              <div class="mt-2"><b>상품1</b></div>
              <div>아주 좋아요</div>
              <div>1원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품2</b></div>
              <div>정말 좋아요</div>
              <div>2원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품3</b></div>
              <div>조금 좋아요</div>
              <div>3원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품4</b></div>
              <div>나쁘지 않아요</div>
              <div>10원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품5</b></div>
              <div>그저 그래요</div>
              <div>50원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품6</b></div>
              <div>몰라요</div>
              <div>10,000원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품7</b></div>
              <div>제 능력이</div>
              <div>1,234원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품8</b></div>
              <div>많이많이</div>
              <div>1,234원</div>
            </article>
          </div>
          <div class="column">
            <article>
              <img src="elice-rabbit.png" class="img-item" />
              <div class="mt-2"><b>상품9</b></div>
              <div>부족합니다ㅠㅠ</div>
              <div>1,234원</div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="#cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="div-container">
      <div class="landing" id="landingDiv">
        <h1>랜딩 페이지</h1>
      </div>
      <div class="greeting" id="greetingDiv">
        <h1>안녕하세요!</h1>
      </div>
    </div>
  </body>
</html>
