* {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
  align-content: center;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  text-align: center;
}

.header-logo {
  text-align: center;
  margin: 30px 0;
}

.table {
  text-align: center;
}

h1 {
  text-align: center;
}
.admin-page {
  border-bottom: #ddd 1px solid;
  padding-bottom: 10px;
}
.container {
  margin-top: 30px;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6; /* 테두리 설정 */
  border-width: thin;
}

.rounded-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
}

.rounded-table thead th:first-child {
  border-top-left-radius: 15px;
}

.rounded-table thead th:last-child {
  border-top-right-radius: 15px;
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}
